@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

.screen {
    width: 100vw;
    height: 100vh;
}
.full {
    width: 100%;
    height: 100%;
}


.dGray {
    background-color: #333;
}

.imgCover {
    object-fit: cover;
}

.overflow {
    overflow: hidden;
}

.transition1l {
    transition: left 1s ease-in-out;
}.abs {
    position: absolute;
}

.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.left0 {
    left: 0px;
}
.left100vw {
    left: 100vw;
}
.leftM100vw {
    left: -100vw;
}
.bot0 {
    bottom: 0;
}

.df {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}



